# ignore all
# check another .ignore file in addons folder

# Xcode Project
xcuserdata/
*.entitlements
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
.xcscmblueprint
DerivedData
*.hmap
*.ipa
*.xcuserstate

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

*~
.svn/
*.app/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# xml
*.*.bak

*.xcscmblueprint

**/obj/**

# vs code brower database
*.db
*.db-shm
*.db-wal